<html>

<head>
    <script src="/static/jquery.js"></script>
    <script src="/static/js.cookie-2.2.0.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-4.3.1-dist/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="/static/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/w3.css">
    <title>Shop | gAImeMaster</title>
    <style>
        .shop {
            width: 50%;
        }
    </style>
</head>

<body>
    <h1>Shop</h1>
    <div class="shop">
        <table class="table" style="min-height:22vh;" id="weapons">

            <thead>
                <h3 class="w3-center">Weapons</h3>
                <tr>
                    <th scope="col">Item</th>

                    <th scope="col" style="text-align:right;">Cost (In GP)</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td>[[ item.upperID ]]</td>
                    <td align="right">[[ item.cost ]]</td>
                    <td align="right">
                        <a :data-item-id="item.id" v-on:click="buy([[ item ]])">Buy</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" style="min-height:22vh;" id="armor">

            <thead>
                <h3 class="w3-center">Armor</h3>
                <tr>
                    <th scope="col">Item</th>

                    <th scope="col" style="text-align:right;">Cost (In GP)</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td>[[ item.upperID ]]</td>
                    <td align="right">[[ item.cost ]]</td>
                    <td align="right">
                        <a :data-item-id="item.id" v-on:click="buy([[ item ]])">Buy</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" style="min-height:22vh;" id="equipment">
            <thead>
                <h3 class="w3-center">Equipment</h3>
                <tr>
                    <th scope="col">Item</th>

                    <th scope="col" style="text-align:right;">Cost (In GP)</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td>[[ item.upperID ]]</td>
                    <td align="right">[[ item.cost ]]</td>
                    <td align="right">
                        <a :data-item-id="item.id" v-on:click="buy([[ item ]])">Buy</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="/static/vue.js"></script>
    <script>
        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function(item) {
                    tmp = item.split("=");
                    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }
        // Vue.js model for equipment
        var equipmentVM = new Vue({
            el: '#equipment',
            data: {
                items: []
            },
            methods: {
                update: function() {
                    this2 = this
                    $.get("/data/equipment.json", function(data) {
                        //data = JSON.parse(data);
                        this2.items = data;
                        for (i = 0; i < data.length; i++) {
                            this2.items[i].upperID = data[i]["id"].charAt(0).toUpperCase() + data[i]["id"].substring(1)
                        }
                        //for (i = 0; i < data.length; i++) {
                        //   this2.items.push(data[i]);
                        //}

                    });

                },
                buy: function(item) {
                    $.get("shop.py", {
                        charid: findGetParameter("charId"),
                        item: item
                    }, function(data) {
                        if (data) {
                            alert("You have successfully bought " + item.upperID)
                        } else {
                            alert("Something Happened. Either you don't have enough money, or something went wrong on our end.")
                        }
                    });
                }
            },
            beforeMount() {
                setTimeout(function() {
                    equipmentVM.update()
                }, 300);
            },
            delimiters: ['[[', ']]']
        });
        // Vue.js model for armor
        var armorVM = new Vue({
            el: '#armor',
            data: {
                items: []
            },
            methods: {
                update: function() {
                    this2 = this
                    $.get("/data/armor.json", function(data) {
                        //data = JSON.parse(data);
                        this2.items = data;
                        for (i = 0; i < data.length; i++) {
                            this2.items[i].upperID = data[i]["id"].charAt(0).toUpperCase() + data[i]["id"].substring(1)
                        }
                        //for (i = 0; i < data.length; i++) {
                        //   this2.items.push(data[i]);
                        //}

                    });
                },
                buy: function(item) {
                    $.get("shop.py", {
                        charid: findGetParameter("charId"),
                        item: item
                    }, function(data) {
                        if (data) {
                            alert("You have successfully bought " + item.upperID)
                        } else {
                            alert("Something Happened. Either you don't have enough money, or something went wrong on our end.")
                        }
                    });
                }
            },
            beforeMount() {
                setTimeout(function() {
                    armorVM.update()
                }, 150);
            },
            delimiters: ['[[', ']]']
        });
        var weaponsVM = new Vue({
            el: '#weapons',
            data: {
                items: []
            },
            methods: {
                update: function() {
                    this2 = this
                    $.get("/data/weapons_table.json", function(data) {
                        //data = JSON.parse(data);
                        this2.items = data;
                        for (i = 0; i < data.length; i++) {
                            this2.items[i].upperID = data[i]["id"].charAt(0).toUpperCase() + data[i]["id"].substring(1)
                        }
                        //for (i = 0; i < data.length; i++) {
                        //   this2.items.push(data[i]);
                        //}

                    });
                },
                buy: function(item) {
                    $.get("shop.py", {
                        charid: findGetParameter("charId"),
                        item: item
                    }, function(data) {
                        if (data) {
                            alert("You have successfully bought " + item.upperID)
                        } else {
                            alert("Something Happened. Either you don't have enough money, or something went wrong on our end.")
                        }
                    });
                }
            },
            beforeMount() {
                setTimeout(function() {
                    weaponsVM.update()
                }, 0);
            },
            delimiters: ['[[', ']]']
        });

        /*
            $.get("/data/equipment.json", function(data) {
            //data = JSON.parse(data);
            for (i = 0; i < data.length; i++) {
                $("#equipment").append(`
                <tr>
                    <td>${data[i]["id"].charAt(0).toUpperCase()+data[i]["id"].substring(1)}</td>
                    <td align="right">${data[i]["cost"]}</td>
                </tr>
                `);

            }
        });
        
        $.get("/data/weapons_table.json", function(data) {
            //data = JSON.parse(data);
            for (i = 0; i < data.length; i++) {
                $("#weapons").append(`
                <tr>
                    <td>${data[i]["id"].charAt(0).toUpperCase()+data[i]["id"].substring(1)}</td>
                    <td align="right">${data[i]["cost"]}</td>
                </tr>
                `);
            }
        });
        $.get("/data/armor.json", function(data) {
            //data = JSON.parse(data);
            for (i = 0; i < data.length; i++) {
                $("#armor").append(`
                <tr>
                    <td>${data[i]["id"].charAt(0).toUpperCase()+data[i]["id"].substring(1)}</td>
                    <td align="right">${data[i]["cost"]}</td>
                </tr>
                `);
            }
        });
        
        setTimeout(function() {
            armorVM.update()
        }, 300);
        setTimeout(function() {
            weaponsVM.update()
        }, 150);
        */
    </script>
</body>

</html>